PORT=3000
DATABASE_URL="mysql://root:admin@localhost:3306/sitmah"
JWT_SECRET="cambiar-esto-en-produccion"
JWT_EXPIRES_IN="1h"
FRONTEND_URL="http://localhost:5173"
MAIL_FROM="SITMAH <soporte.sitmah@gmail.com>"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="soporte.sitmah@gmail.com"
SMTP_PASS="tu_contraseña_de_aplicacion"